In [5]:
# Imports
import numpy as np
import pandas as pd

# Load the data in
testset = pd.read_csv("C:\\Users\\rs\\Desktop\\data science project\\test.csv\\test.csv")
# Take a look
testset.head()

,Id,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Ret_111,Ret_112,Ret_113,Ret_114,Ret_115,Ret_116,Ret_117,Ret_118,Ret_119,Ret_120
0,1,NaN,-0.479347,0.716679,0.765301,6,NaN,36450,0.2064,14,...,-0.000135,-0.000002,-0.000144,0.000931,0.000280,0.000796,-0.000272,-0.000683,0.002010,-0.001187
1,2,NaN,-1.556631,-0.544329,-0.041571,2,-0.401548,77624,0.3418,10,...,-0.000384,-0.000382,0.000387,0.000392,0.001579,-0.000019,0.000803,0.000001,-0.000002,-0.002382
2,3,NaN,-1.124463,0.750519,0.801993,8,0.463234,44942,0.0166,11,...,-0.000013,0.000801,-0.000278,-0.000255,0.000534,0.000272,-0.000778,0.001060,0.000010,-0.000805
3,4,NaN,2.404529,1.371021,1.135463,1,3.470399,35071,0.2208,12,...,-0.002180,0.000206,-0.000053,-0.002894,-0.003772,0.001737,0.003756,-0.000863,-0.000873,-0.000302
4,5,1,0.180297,-0.107651,-0.272008,8,0.198879,1188,0.2254,NaN,...,-0.000204,0.000176,-0.000204,NaN,-0.000004,0.000026,0.000201,0.000004,NaN,0.000007

In [6]:
testset.columns

Index([u'Id', u'Feature_1', u'Feature_2', u'Feature_3', u'Feature_4',
       u'Feature_5', u'Feature_6', u'Feature_7', u'Feature_8', u'Feature_9',
       ...
       u'Ret_111', u'Ret_112', u'Ret_113', u'Ret_114', u'Ret_115', u'Ret_116',
       u'Ret_117', u'Ret_118', u'Ret_119', u'Ret_120'],
      dtype='object', length=147)

In [7]:
testset.columns = testset.columns.map(str.strip)
testset.columns

Index([u'Id', u'Feature_1', u'Feature_2', u'Feature_3', u'Feature_4',
       u'Feature_5', u'Feature_6', u'Feature_7', u'Feature_8', u'Feature_9',
       ...
       u'Ret_111', u'Ret_112', u'Ret_113', u'Ret_114', u'Ret_115', u'Ret_116',
       u'Ret_117', u'Ret_118', u'Ret_119', u'Ret_120'],
      dtype='object', length=147)